.product {
    padding: 100px 10%;
}

.productPath {
    font-size: $font-m;
    position: absolute;
    top: -50px;
}

.product_box {
    padding-right: 20px;
    padding-bottom: 50px;
    img {
        width: 100%;
        vertical-align: middle;
    }
    &>div {
        cursor: pointer;
    }
}

.product_name,
span {
    font-size: $font-s;
    color: $lightGray;
}

.product_name {
    margin-top: 10px;
}

.product_salePrice {
    display: none;
    color: $orange;
}

.discount {
    display: none;
    position: absolute;
    top: 5px;
    left: -5px;
    transform: rotate(-30deg);
    width: 45%;
    div {
        position: absolute;
        color: $darkWhite;
        font-size: $font-m;
    }
}

.isSale {
    .discount {
        display: flex;
    }
    .product_price {
        color: lighten($lightGray, 10);
        text-decoration: line-through;
        text-decoration-color: darken($orange, 10);
        margin-right: 10px;
    }
    .product_salePrice {
        display: inline-block;
    }
}