html,
body,
#app,
.login {
    width: 100%;
    height: 100%;
}

.login {
    background-color: $cyan;
}

.login_box {
    background-color: $yellow;
    padding: 35px;
    border-radius: 10px;
}

.logo_info {
    text-align: center;
    .title,
    .loginBtn {
        font-size: $font-l;
        margin: 10px 0;
    }
    input,
    .loginBtn {
        padding: 5px;
        border-radius: 3px;
        width: 300px;
    }
    .title {
        text-align: left;
    }
    .fail {
        transition: none;
        color: $red;
        font-size: $font-s;
        margin-top: 20px;
    }
    input {
        background-color: transparent;
        border: solid 1px $lightGray;
        font-size: $font-l;
    }
    .loginBtn {
        background-color: $orange;
        color: $darkWhite;
        cursor: pointer;
        margin-top: 20px;
    }
    .loginBtn:hover {
        background-color: darken($orange, 5);
    }
    .signUp {
        font-size: $font-m;
        text-align: right;
    }
}

.login_logo {
    width: 40%;
    display: inline-block;
    img {
        width: 100%;
    }
}