.m-cartSpace {
    margin: 10% 15% 15%;
    .step,
    .shopList,
    .orderList {
        width: 100%;
    }
}

.m-list {
    margin-top: 10%;
    background-color: $lightWhite;
    border: solid 1px $lightGray;
    border-radius: 5px;
    padding: 5% 10% 100px;
    .title {
        font-size: $font-xl;
        margin-left: 5%;
        margin-bottom: 2%;
    }
    .nextBtn {
        position: relative;
        margin: 0 5%;
    }
    .nextBtn .e-btn {
        @include btnType(transparent, $font-m, $cyan);
        position: absolute;
        width: 20%;
        right: 0;
    }
}