* {
    box-sizing: border-box;
    transition: .5s all;
}

html,
body {
    background-color: $darkWhite;
    color: $darkGray;
}

a {
    text-decoration: none;
    color: $darkGray;
    &:hover {
        color: $cyan;
        text-decoration: none;
    }
}

input:focus {
    outline: none;
}